<script setup>
import VInput from '@/components/visual/VInput.vue'
import TagSelect from '@/components/tag/TagSelect.vue'
import UnitSelect from '@/components/visual/UnitSelect.vue'

const model = defineModel()
</script>

<template>
  <div class="row">
    <div class="cell">Name</div>
    <VInput class="cell" v-model="model.name"></VInput>
  </div>
  <div class="row">
    <div class="cell">Unit</div>
    <UnitSelect class="cell" v-model="model.unit"></UnitSelect>
  </div>
  <div class="row">
    <div class="cell">Tags</div>
    <TagSelect class="cell" v-model="model.tags"></TagSelect>
  </div>
</template>
