<script setup>
import { computed, ref } from 'vue'
import { sort, filter } from '@/utils'
import { useDefinitionStore } from '@/stores/definitionStore'

import { VueFinalModal } from 'vue-final-modal'
import VButton from '@/components/visual/VButton.vue'
import Filter from '@/components/visual/Filter.vue'

const definitionStore = useDefinitionStore()
const model = defineModel()
const metaFilter = ref({ tags: [] })
const meta = computed(() => definitionStore.metas[model.value])
const metas = computed(() => {
  let metas = Object.values(definitionStore.metas)
  return sort(filter(metas, metaFilter.value))
})
const showModal = ref(false)

function set(uuid) {
  model.value = uuid
  showModal.value = false
}

function clear() {
  model.value = null
  showModal.value = false
}
</script>

<template>
  <div class="btn" @click="() => (showModal = true)">{{ meta?.name || 'Select' }}</div>

  <vue-final-modal v-model="showModal">
    <template #default>
      <div class="modal-content">
        <div class="modal-header">
          <h3>{{ model?.name }}</h3>
        </div>
        <div class="modal-body">
          <div>
            <VButton @click="clear">Clear</VButton>
          </div>
          <Filter v-model="metaFilter" />
          <table>
            <tbody>
              <tr v-for="meta in metas" :key="meta.uuid">
                <td @click="() => set(meta.uuid)">{{ meta.name }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </template>
  </vue-final-modal>
</template>
