<script setup>
import VInput from '@/components/visual/VInput.vue'
import ProductSelect from '@/components/product/ProductSelect.vue'
import { useDefinitionStore } from '@/stores/definitionStore'

const definitionStore = useDefinitionStore()

const model = defineModel()
</script>
<template>
  <table>
    <tr>
      <th>Name</th>
      <td>
        <VInput v-model="model.name"></VInput>
      </td>
    </tr>
    <tr>
      <th>Product</th>
      <td>
        <ProductSelect
          v-model="model.productUuid"
          @update:modelValue="() => {
            model.name = definitionStore.productName(model.productUuid)
            model.price = definitionStore.productPrice(model.productUuid)
          }
          "
        >
        </ProductSelect>
      </td>
    </tr>
    <tr>
      <th>Quantity</th>
      <td><VInput v-model.number="model.quantity"></VInput> Ks</td>
    </tr>
    <tr>
      <th>Price</th>
      <td><VInput v-model.number="model.price"></VInput> CZK</td>
    </tr>
  </table>
</template>
