<script setup>
import VInput from '@/components/visual/VInput.vue'
import PaymentSelect from '@/components/visual/PaymentSelect.vue'
import UserSelect from '@/components/user/UserSelect.vue'
import TableSelect from '@/components/table/TableSelect.vue'

const model = defineModel()
</script>

<template>
  <table>
    <tr>
      <th>Sequence</th>
      <td>
        <VInput v-model="model.sequence"></VInput>
      </td>
    </tr>
    <tr>
      <th>User</th>
      <td>
        <UserSelect v-model="model.userUuid"></UserSelect>
      </td>
    </tr>
    <tr>
      <th>Canceled</th>
      <td>
        <VInput v-model="model.isCanceled" type="checkbox"></VInput>
      </td>
    </tr>
    <tr>
      <th>Locked</th>
      <td>
        <VInput v-model="model.isLocked" type="checkbox"></VInput>
      </td>
    </tr>
    <tr>
      <th>Table</th>
      <td>
        <TableSelect v-model="model.tableUuid"></TableSelect>
      </td>
    </tr>
    <tr>
      <th>Created</th>
      <td>
        <VueDatePicker v-model="model.date" />
      </td>
    </tr>
    <tr>
      <th>Payment</th>
      <td>
        <PaymentSelect v-model="model.payment" @update:modelValue="() => {
          model.sequence = null;
          model.paidDate = null;
          model.paidAmount = 0;
          model.printed = null
          }"></PaymentSelect>
      </td>
    </tr>
    <tr>
      <th>Paid amount</th>
      <td><VInput v-model="model.paidAmount"></VInput> CZK</td>
    </tr>
    <tr>
      <th>Paid date</th>
      <td>
        <VueDatePicker v-model="model.paidDate" />
      </td>
    </tr>
    <tr>
      <th>Printed</th>
      <td>
        <VueDatePicker v-model="model.printed"></VueDatePicker>
      </td>
    </tr>
    <tr>
      <th>Note</th>
      <td>
        <textarea v-model="model.note"></textarea>
      </td>
    </tr>
  </table>
</template>
