<script setup>
import { ref } from 'vue'
import { useMainStore } from '@/stores/mainStore'
import { VueFinalModal } from 'vue-final-modal'
import { useInvoiceStore } from '@/stores/invoiceStore'
import InvoiceEdit from '@/components/invoice/InvoiceEdit.vue'
import ModalInlineButtons from '@/components/visual/ModalInlineButtons.vue'
import VButton from '@/components/visual/VButton.vue'

const invoiceStore = useInvoiceStore()

const model = defineModel()
const mainStore = useMainStore()

const showModal = ref(false)

function reset() {
  invoiceStore.reset()
  showModal.value = false
}

function save() {
  invoiceStore.sync(model.value)
  showModal.value = false
}

function remove() {
  console.log('remove')
}
</script>
<template>
  <VButton v-if="mainStore.isAdmin" @click="() => (showModal = !showModal)" class="btn"
    >Edit</VButton
  >

  <vue-final-modal v-model="showModal">
    <template #default>
      <div class="modal-content">
        <div class="modal-header">
          <h3>{{ model?.sequence }}</h3>
        </div>
        <InvoiceEdit class="modal-body" v-model="model"> </InvoiceEdit>

        <div class="modal-footer">
          <ModalInlineButtons :reset="reset" :save="save" :remove="remove" />
        </div>
      </div>
    </template>
  </vue-final-modal>
</template>
<style scoped></style>
