<script setup>
import { ref } from 'vue'
import { useMainStore } from '@/stores/mainStore'
import { VueFinalModal } from 'vue-final-modal'
import { useInvoiceStore } from '@/stores/invoiceStore'

import InvoiceItemEdit from '@/components/invoice/InvoiceItemEdit.vue'
import ModalInlineButtons from '@/components/visual/ModalInlineButtons.vue'
import VButton from '@/components/visual/VButton.vue'

const invoiceStore = useInvoiceStore()
const props = defineProps(['invoice'])
const model = defineModel()
const mainStore = useMainStore()

const showModal = ref(false)

function toggle() {
  showModal.value = !showModal.value
}

function reset() {
  invoiceStore.reset()
  showModal.value = false
}

function save() {
  invoiceStore.sync(props.invoice)
  showModal.value = false
}

function remove() {
  console.log('remove')
  const index = props.invoice?.items.indexOf(model.value)
  if (index > -1) {
    // only splice array when item is found
    props.invoice?.items?.splice(index, 1) // 2nd parameter means remove one item only
  }
  invoiceStore.sync(props.invoice)
}
</script>

<template>
  <slot :open="toggle">
    <VButton @click="showModal = true">{{ model.name }}</VButton>
  </slot>

  <vue-final-modal v-model="showModal">
    <template #default>
      <div class="modal-content">
        <div class="modal-header">
          <h3>{{ model?.name }}</h3>
        </div>
        <InvoiceItemEdit class="modal-body" v-model="model"> </InvoiceItemEdit>

        <div class="modal-footer">
          <ModalInlineButtons :reset="reset" :save="save" :remove="remove" />
        </div>
      </div>
    </template>
  </vue-final-modal>
</template>
