<script setup>
import { ref, computed } from 'vue'
import { VueFinalModal } from 'vue-final-modal'
import { useSyncStore } from '@/stores/syncStore'
import { useInvoiceStore, sumItems } from '@/stores/invoiceStore'

import VButton from '@/components/visual/VButton.vue'

const syncStore = useSyncStore()
const invoiceStore = useInvoiceStore()
const model = defineModel()
const showModal = ref(false)

const sum = computed(() => sumItems(model.value))
const total = computed({
  get() {
    return sum.value + tip.value
  },
  set(newValue) {
    tip.value = newValue - sum.value
  }
})
const paid = ref(sumItems(model.value))
// TODO: Move to config
const tips = [-100, -10, -5, -1, 1, 5, 10, 100]
const tip = ref(0)
const percents = [0, 5, 10, 15, 20]

function setTip(value) {
  tip.value += value
  total.value = sum.value + tip.value
}

function setPercent(value) {
  total.value = Math.round(sum.value + (sum.value * value) / 100)
}

function isPaid() {
  return model.value.paidDate !== null
}

async function printInvoice() {
  invoiceStore.sync(model.value)
  invoiceStore.print(model.value.uuid)
}
</script>

<template>
  <VButton @click="showModal = true" class="no-print">Zaplatit</VButton>
  <vue-final-modal v-model="showModal" class="bigModal">
    <template #default>
      <div class="modal-content">
        <div class="modal-header">
          <h3>Zaplatit</h3>
        </div>
        <div class="modal-body">
          <table>
            <tr>
              <th>Soucet</th>
              <td>{{ sum }} CZK</td>
            </tr>
            <tr>
              <th>Celkem</th>
              <td>
                <input type="number" v-model.number="total" v-if="!isPaid()" />
                <span v-if="isPaid()">{{ model.paidAmount }}</span>
                CZK
              </td>
            </tr>
            <tr>
              <th>Zaplaceno</th>
              <td><input type="number" v-model.number="paid" v-if="!isPaid()" /> CZK</td>
            </tr>
            <tr>
              <th>Vratit</th>
              <td>{{ paid - total }} CZK</td>
            </tr>
            <tr v-if="!isPaid()">
              <th>Tip</th>
              <td>{{ tip }} CZK</td>
            </tr>
            <tr v-if="!isPaid()">
              <td colspan="2">
                <div class="row" style="justify-content: space-between">
                  <div v-for="amount in tips" :key="amount" class="btn" @click="() => setTip(amount)">
                    {{ amount }}
                  </div>
                </div>
              </td>
            </tr>
            <tr v-if="!isPaid()">
              <td colspan="2">
                <div class="row" style="justify-content: space-between">
                  <div v-for="percent in percents" :key="percent" class="btn" @click="() => setPercent(percent)">
                    {{ percent }}%
                  </div>
                </div>
              </td>
            </tr>
          </table>

          <div class="row">
            <div v-if="!isPaid()" class="btn success" @click="() => syncStore.payCash(model, total)">
              Zaplatit
            </div>
            <div v-if="!isPaid()" class="btn" @click="() => syncStore.payCash(model, total, true)">
              Hotove
            </div>
            <div v-if="!isPaid()" class="btn" @click="() => syncStore.payCard(model, total)">
              Kartou
            </div>
            <div class="btn" @click="() => printInvoice()">Tisk</div>
            <div class="occupied btn" @click="() => (showModal = false)">Cancel</div>
          </div>
        </div>
      </div>
    </template>
  </vue-final-modal>
</template>

<style scoped>
.btn {
  height: 5em;
  text-align: center;
  margin-right: 5px;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  display: flex;
}

.btn:last-child {
  margin-right: 0;
}
</style>
