<script setup>
import { computed } from 'vue'
import { useDefinitionStore } from '@/stores/definitionStore'
import { sort } from '@/utils'

const definitionStore = useDefinitionStore()
const props = defineProps(['single'])

const model = defineModel()
const tags = computed(() =>
  sort(
    Array.from(Object.values(definitionStore.tags)).concat([
      { name: 'Clear', uuid: '00000000-0000-0000-0000-000000000000', order: -1 }
    ]),
    'order'
  )
)

function toggle(uuid) {
  if (props.single) {
    model.value = [uuid]
  } else {
    if (model.value.includes(uuid)) {
      model.value = model.value.filter((tag) => tag != uuid)
    } else {
      model.value.push(uuid)
    }
  }
}
</script>

<template>
  <div class="tag-container">
    <div
      v-for="tag in tags"
      :key="tag.uuid"
      @click="() => toggle(tag.uuid)"
      :class="{
        tag: true,
        active: model.includes(tag.uuid),
        inactive: !model.includes(tag.uuid)
      }"
    >
      {{ tag.name }}
    </div>
  </div>
</template>

<style scoped>
.tag-container {
  margin: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.tag {
  padding: 5px;
  cursor: pointer;
  border-radius: 10px;
  border: 1px solid var(--color-text);
}

.active {
  color: var(--color-background);
  background: var(--color-text);
}

.inactive {
  color: var(--color-text);
  background: var(--color-background);
}
</style>
