<script setup>
import { ref, onMounted, onBeforeUnmount } from 'vue'
import { useMainStore } from '@/stores/mainStore'

const mainStore = useMainStore()

const pin = ref('')

function appendNumber(event) {
  pin.value += event.target.innerText
}

function basckslash() {
  pin.value = pin.value.substring(0, pin.value.length - 1)
}

function handleKeyPress(event) {
  const key = event.key || event.keyCode
  if (event.keyCode == 8) {
    pin.value = pin.value.substring(0, pin.value.length - 1)
  }
  if (event.keyCode == 13) {
    mainStore.unlock(pin.value)
  }
  if (!/[0-9]/.test(key)) {
    event.preventDefault()
    return
  }
  event.preventDefault()
  pin.value += key
}

onMounted(() => {
  window.addEventListener('keydown', handleKeyPress)
})

onBeforeUnmount(() => {
  window.removeEventListener('keydown', handleKeyPress)
})
</script>

<template>
  <div class="backdrop">
    <div class="lockScreen">
      <div>User {{ mainStore.userInfo?.nick }}</div>
      <input type="text" placeholder="PIN Code" v-model="pin" @keypress="handleKeyPress" />
      <div class="numpad">
        <button v-for="index in 9" :key="index" @click="appendNumber" class="round">
          {{ index }}
        </button>

        <button @click="basckslash">&larr;</button>
        <button @click="() => mainStore.unlock(pin)">&crarr;</button>
      </div>
    </div>
  </div>
</template>

<style scoped>
h1 {
  font-weight: 500;
  font-size: 2.6rem;
  position: relative;
  top: -10px;
}

h3 {
  font-size: 1.2rem;
}

.greetings h1,
.greetings h3 {
  text-align: center;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* semi-transparent black */
  z-index: 9998;
  /* Ensure it's below the lock screen */
  backdrop-filter: blur(5px);
  /* Apply the blur effect */
}

.lockScreen {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  /* Ensure it's above other content */
  background-color: #f0f0f0;
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.lockScreen input[type='text'] {
  padding: 10px;
  margin-bottom: 10px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.numpad {
  font-size: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

button.round {
  width: 50px;
  height: 50px;
  border: 1px solid #ccc;
  border-radius: 50%;
  background-color: #fff;
  font-size: 1.2rem;
  cursor: pointer;
}

/* Additional styling for button hover effect */
button:hover {
  background-color: #f0f0f0;
}

@media (min-width: 1024px) {
  .greetings h1,
  .greetings h3 {
    text-align: left;
  }
}
</style>
