<script setup>
import { ref } from 'vue'
import { useMainStore } from '@/stores/mainStore'

const mainStore = useMainStore()
const nick = ref('')
const password = ref('')
function handleKeyPress(event) {
  if (event.keyCode === 13) {
    event.preventDefault()
    mainStore.login(nick.value, password.value)
    return
  }
}
</script>

<template>
  <div class="backdrop">
    <div class="loginScreen" @keypress="handleKeyPress">
      <h1>Login</h1>
      <div class="row">
        <div class="cell">Nick</div>
        <div class="cell"><input v-model="nick" /></div>
      </div>
      <div class="row">
        <div class="cell">Password</div>
        <div class="cell"><input type="password" v-model="password" /></div>
      </div>
      <button @click="mainStore.login(nick, password)">Login</button>

      <div class="token_wrapper">
        <div
          class="token btn"
          v-for="token in mainStore.tokens"
          :key="token.value"
          @click="() => mainStore.token(token.value)"
        >
          {{ token.nick }}
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped>
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* semi-transparent black */
  z-index: 9998;
  /* Ensure it's below the lock screen */
  backdrop-filter: blur(5px);
  /* Apply the blur effect */
}

.loginScreen {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  /* Ensure it's above other content */
  background-color: #f0f0f0;
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.loginScreen .cell {
  width: 50%;
}

input {
  display: block;
  width: 100%;
}
.token_wrapper {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
}

.token {
  flex-grow: calc(1 / 2);
  text-align: center;
  margin-left: 5px;
}
</style>
