<script setup>
import { sort } from '@/utils'
import { useDefinitionStore } from '@/stores/definitionStore'

const definitionStore = useDefinitionStore()
const model = defineModel()
const stores = sort(Object.values(definitionStore.rooms), 'name')
</script>

<template>
  <select v-model="model">
    <option v-for="store in stores" :key="store.uuid" :value="store.uuid">{{ store.name }}</option>
  </select>
</template>

<style scoped></style>
