<script setup>
import { ref } from 'vue'
import { VueFinalModal } from 'vue-final-modal'
import { useDefinitionStore } from '@/stores/definitionStore'

import VButton from '@/components/visual/VButton.vue'
import VInput from '@/components/visual/VInput.vue'
import ModalInlineButtons from '@/components/visual/ModalInlineButtons.vue'

const definitionStore = useDefinitionStore()
const model = defineModel()
const showModal = ref(false)

function toggle() {
  showModal.value = !showModal.value
}

function reset() {
  definitionStore.reset()
  showModal.value = false
}

function save() {
  definitionStore.set()
  showModal.value = false
}

function remove() {
  definitionStore.roomRemove(model.value.uuid)
  definitionStore.set()
  showModal.value = false
}
</script>

<template>
  <slot :open="toggle">
    <VButton @click="showModal = true">{{ model.name }}</VButton>
  </slot>
  <vue-final-modal v-model="showModal">
    <template #default>
      <div class="modal-content">
        <div class="modal-header">
          <h3><strong>Room:</strong> {{ model?.name }}</h3>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="cell">Name</div>
            <VInput class="cell" v-model="model.name"></VInput>
          </div>

          <div class="row">
            <div class="cell">Order</div>
            <VInput class="cell" type="number" v-model="model.order"></VInput>
          </div>
        </div>

        <div class="modal-footer">
          <ModalInlineButtons :reset="reset" :save="save" :remove="remove" />
        </div>
      </div>
    </template>
  </vue-final-modal>
</template>

<style scoped>
.row {
  display: flexbox;
}
</style>
