<script setup>
import { useAuthStore } from '@/stores/authStore'

const authStore = useAuthStore()
const model = defineModel()
</script>
<template>
  <select v-model="model">
    <option v-for="user in authStore.users" :key="user.uuid" :value="user.uuid">
      {{ authStore.getName(user.uuid) }}
    </option>
  </select>
</template>
