<script setup>
import VInput from '@/components/visual/VInput.vue'
import TagSelect from '@/components/tag/TagSelect.vue'
import MetaSelect from '@/components/meta/MetaSelect.vue'

const model = defineModel()
</script>

<template>
  <div class="row">
    <div class="cell">Name</div>
    <VInput class="cell" v-model="model.name"></VInput>
  </div>
  <div class="row">
    <div class="cell">Meta</div>
    <div class="cell">
      <MetaSelect style="display: block" v-model="model.metaUuid" />
    </div>
  </div>
  <div class="row">
    <div class="cell">Hidden</div>
    <VInput class="cell" type="checkbox" style="display: block" v-model="model.hide" />
  </div>
  <div class="row">
    <div class="cell">Capacity</div>
    <input class="v-input medium font-medium cell" type="number" v-model.number="model.capacity" />
  </div>
  <div class="row">
    <div class="cell">Density</div>
    <VInput class="cell" v-model.number="model.density"></VInput>
  </div>
  <div class="row">
    <div class="cell">Empty</div>
    <VInput class="cell" v-model.number="model.empty"></VInput>
  </div>
  <div class="row">
    <div class="cell">Full</div>
    <VInput class="cell" v-model.number="model.full"></VInput>
  </div>
  <div class="row">
    <div class="cell">Tags</div>
    <TagSelect class="cell" v-model="model.tags"></TagSelect>
  </div>
</template>
