<script setup>
import { ref } from 'vue'
import { VueFinalModal } from 'vue-final-modal'
import { useDefinitionStore } from '@/stores/definitionStore'
import { useTableStore } from '@/stores/tableStore'

import ModalInlineButtons from '@/components/visual/ModalInlineButtons.vue'
import TableEdit from '@/components/table/TableEdit.vue'

const definitionStore = useDefinitionStore()
const tableStore = useTableStore()
const showModal = ref(false)

const props = defineProps({
  class: {
    type: String,
    default: ''
  },
  room: {
    type: String,
    default: ''
  }
})

const table = ref({ roomUuid: props.room, name: 'Table', order: 1000 })

function toggle() {
  showModal.value = !showModal.value
}

function reset() {
  definitionStore.reset()
  showModal.value = false
}

function save() {
  tableStore.tableCreate(table.value.name, table.value.roomUuid, table.value.order)
  showModal.value = false
}
</script>

<template>
  <slot :open="toggle">
    <div @click="showModal = true" :class="props.class">Create</div>
  </slot>
  <vue-final-modal v-model="showModal">
    <template #default>
      <div class="modal-content">
        <div class="modal-header">
          <h3>{{ table.name }}</h3>
        </div>

        <div class="model-body">
          <TableEdit v-model="table" />
        </div>

        <div class="modal-footer">
          <ModalInlineButtons :reset="reset" :save="save" />
        </div>
      </div>
    </template>
  </vue-final-modal>
</template>
