<script setup>
import VInput from '@/components/visual/VInput.vue'
import RoomSelect from '@/components/room/RoomSelect.vue'

const model = defineModel()
</script>

<template>
  <div class="row">
    <div class="cell">Name</div>
    <VInput class="cell" v-model="model.name"></VInput>
  </div>
  <div class="row">
    <div class="cell">Room</div>
    <RoomSelect class="cell" v-model="model.roomUuid"></RoomSelect>
  </div>
  <div class="row">
    <div class="cell">Order</div>
    <VInput class="cell" type="number" v-model.number="model.order"></VInput>
  </div>
</template>

<style scoped>
VInput {
  display: block;
}
.row > .cell:first {
  width: 20%;
  font-weight: bolder;
}
</style>
