<script setup>
import { useTableStore } from '@/stores/tableStore'
import { computed } from 'vue'
const tableStore = useTableStore()
const props = defineProps(['exclude'])
const model = defineModel()
const tables = computed(() => tableStore.tables.filter((t) => t.uuid != props.exclude))
</script>
<template>
  <select v-model="model">
    <option v-for="table in tables" :key="table.uuid" :value="table.uuid">{{ table.name }}</option>
  </select>
</template>
