<script setup>
import { ref, computed } from 'vue'
import { VueFinalModal } from 'vue-final-modal'
import { useDefinitionStore } from '@/stores/definitionStore'
import { useTableStore } from '@/stores/tableStore'
import { useSyncStore } from '@/stores/syncStore'
import { useRouter } from 'vue-router'

import VButton from '@/components/visual/VButton.vue'
import TableSelect from '@/components/table/TableSelect.vue'
import IconArrowLeft from '@/components/icons/IconArrowLeft.vue'
import IconArrowLeftMulti from '@/components/icons/IconArrowLeftMulti.vue'
import IconArrowRight from '@/components/icons/IconArrowRight.vue'
import IconArrowRightMulti from '@/components/icons/IconArrowRightMulti.vue'

const definitionStore = useDefinitionStore()
const tableStore = useTableStore()
const syncStore = useSyncStore()
const router = useRouter()

const showModal = ref(false)

const props = defineProps(['tableUuid'])
const table2uuid = ref('')

const table1 = computed(() => tableStore.data[props.tableUuid])
const table2 = computed(() => tableStore.data[table2uuid.value])

function toggle() {
  showModal.value = !showModal.value
}

function reset() {
  tableStore.reset()
  showModal.value = false
}

function save() {
  tableStore.sync(table1.value)
  tableStore.sync(table2.value)
  showModal.value = false
}

function all() {
  syncStore.tableToTable(table1.value, table2.value)
  save()

  console.log(router.push({
    name: 'table',
    params: {
      uuid: table2.value.uuid
    }
  }))
}
</script>

<template>
  <slot :open="toggle">
    <div @click="showModal = true">Presun</div>
  </slot>
  <vue-final-modal v-model="showModal">
    <template #default>
      <div class="modal-content">
        <div class="modal-header">
          <h3>{{ props.table1?.name }}</h3>
          <div class="row">
            {{ table1.name }}
            <IconArrowRight></IconArrowRight>
            <TableSelect v-model="table2uuid" :exclude="props.tableUuid"></TableSelect>
          </div>
        </div>

        <div class="model-body">
          <table v-if="table2">
            <tr>
              <th class="left">{{ table1?.name }}</th>
              <th class="right">{{ table2?.name }}</th>
            </tr>
            <tr>
              <td>
                <div v-for="item in table1?.items" :key="item.productUuid" class="row">
                  <div>{{ definitionStore.productName(item.productUuid, null, 20) }}</div>
                  <div class="quantity" style="margin-left: auto">{{ item.quantity }}</div>
                  <IconArrowRight
                    @click="() => syncStore.tableToTableOne(table1, table2, item.productUuid)"
                  ></IconArrowRight>
                  <IconArrowRightMulti
                    @click="() => syncStore.tableToTableAll(table1, table2, item.productUuid)"
                  ></IconArrowRightMulti>
                </div>
              </td>
              <td>
                <div v-for="item in table2?.items" :key="item.productUuid" class="row">
                  <IconArrowLeftMulti
                    @click="() => syncStore.tableToTableAll(table2, table1, item.productUuid)"
                  ></IconArrowLeftMulti>
                  <IconArrowLeft
                    @click="() => syncStore.tableToTableOne(table2, table1, item.productUuid)"
                  ></IconArrowLeft>
                  <div class="quantity">{{ item.quantity }}</div>
                  <div style="margin-left: auto">
                    {{ definitionStore.productName(item.productUuid) }}
                  </div>
                </div>
              </td>
            </tr>
          </table>
        </div>

        <div class="modal-footer">
          <div class="row">
            <VButton @click="reset">Reset</VButton>
            <VButton @click="() => all()" v-if="table2">Vse</VButton>
            <VButton @click="save">Save</VButton>
          </div>
        </div>
      </div>
    </template>
  </vue-final-modal>
</template>

<style scoped>
th {
  background-color: var(--color-text);
  color: var(--color-background);
  padding: 10px;
}

td {
  vertical-align: top;
  font-size: larger;
  width: 50%;
}

.quantity {
  width: 20px;
  font-weight: bolder;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-left: 10px;
  margin-right: 10px;
}

.row {
  justify-content: space-between;
}

.row:hover {
  background-color: var(--color-border);
}

svg {
  cursor: pointer;
  display: block;
  width: 2.3em;
  height: 2.3em;
}

.model-body {
  overflow-y: scroll;
  max-height: 500px;
}
</style>
