<script setup>
import { ref } from 'vue'
import { VueFinalModal } from 'vue-final-modal'
import { useTableStore } from '@/stores/tableStore'

import VButton from '@/components/visual/VButton.vue'

import ModalInlineButtons from '@/components/visual/ModalInlineButtons.vue'
import TableEdit from '@/components/table/TableEdit.vue'

const tableStore = useTableStore()
const model = defineModel()
const showModal = ref(false)

function toggle() {
  showModal.value = !showModal.value
}

function reset() {
  tableStore.reset()
  showModal.value = false
}

function save() {
  tableStore.set()
  showModal.value = false
}

function remove() {
  tableStore.tableRemove(model.value.uuid)
  tableStore.set()
  showModal.value = false
}
</script>

<template>
  <slot :open="toggle">
    <VButton @click="showModal = true">{{ model.name }}</VButton>
  </slot>
  <vue-final-modal v-model="showModal">
    <template #default>
      <div class="modal-content">
        <div class="modal-header">
          <h3>{{ model?.name }}</h3>
        </div>
        <div class="modal-body">
          <TableEdit v-model="model" />
        </div>

        <div class="modal-footer">
          <ModalInlineButtons :reset="reset" :save="save" :remove="remove" />
        </div>
      </div>
    </template>
  </vue-final-modal>
</template>

<style scoped>
.row {
  display: flexbox;
}
</style>
