<script setup>
const props = defineProps({
  size: {
    type: Number,
    default: 1
  }
})
</script>

<template>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 24 24"
    :width="24 * props.size"
    :height="24 * props.size"
    fill="currentColor"
  >
    <path d="M12,2A10,10,0,1,0,22,12,10,10,0,0,0,12,2Zm4,11H8a1,1,0,0,1,0-2h8a1,1,0,0,1,0,2Z" />
  </svg>
</template>
