<script setup>
const model = defineModel(false)
const props = defineProps(["title"])
</script>
<template>
        <div  @click="model = !model">
            <h2>{{ props.title }}</h2>
            <div v-if="!model">Rozbalit</div>
            <div v-if="model">Sbalit</div>
        </div>

        <div v-if="model">
            <slot>Body</slot>
        </div>
</template>
<style scoped>
h2 {
    cursor: pointer;
}
</style>
