<script setup>
import { sort, filter } from '@/utils'
import { ZERO_UUID } from '@/definitions'
import TagSelect from '@/components/tag/TagSelect.vue'
const model = defineModel({ tags: [ZERO_UUID] })

function filterApply(items, sortBy = 'name') {
  items = filter(items, model.value)
  return sort(items, sortBy)
}
</script>
<template>
  <slot :filter="filterApply">
    <div class="container">
      <div class="row">
          <div>Find by name</div>
          <input v-model="model.name" style="display: block" />
      </div>

      <div class="row">
        <div>Find by tags</div>
        <TagSelect v-model="model.tags" />
      </div>

      <div class="row">
        <div>Show hidden</div>
        <input v-model="model.hide" type="checkbox">
      </div>
  </div>

  </slot>
</template>
