<script setup>
import VButton from '@/components/visual/VButton.vue'

const props = defineProps({
  reset: Function,
  save: Function,
  remove: Function
})
</script>

<template>
  <div class="row">
    <VButton @click="props.reset">Reset</VButton>
    <VButton @click="props.remove" v-if="props.remove">Remove</VButton>
    <VButton @click="props.save">Save</VButton>
  </div>
</template>
<style scoped>
.row {
  display: flex;
  justify-content: space-between;
}
</style>
