<script setup>
import { payments } from '@/definitions'

const model = defineModel()
</script>

<template>
  <select v-model="model">
    <option v-for="payment in payments" :key="payment" :value="payment">{{ payment }}</option>
  </select>
</template>

<style scoped></style>
