<script setup>
import { sourceKinds } from '@/definitions'

const model = defineModel()
</script>
<template>
  <select v-model="model">
    <option v-for="sourceKind in sourceKinds" :key="sourceKind" :value="sourceKind">
      {{ sourceKind }}
    </option>
  </select>
</template>
