<script setup>
import { units } from '@/definitions'

const model = defineModel()
</script>

<template>
  <select v-model="model">
    <option v-for="unit in units" :key="unit" :value="unit">{{ unit }}</option>
  </select>
</template>

<style scoped></style>
