<script setup>
//import { Icon } from '@iconify/vue'

defineProps({
  href: {
    type: String,
    default: ''
  },
  size: {
    type: String,
    default: 'medium'
  },
  bold: {
    type: Boolean,
    default: false
  },
  icon: {
    type: String,
    default: ''
  },
  transparent: {
    type: Boolean,
    default: false
  },
  blank: {
    type: Boolean,
    required: false,
    default: false
  }
})
</script>

<template>
  <button class="v-button" :class="[size, bold ? 'font-semibold' : 'font-medium']">
    <slot />
  </button>
</template>

<style scoped>
.v-button {
  padding: 10px;
  border-radius: 5px;
}
</style>
