<script setup>
//import { Icon } from '@iconify/vue'

defineProps({
  href: {
    type: String,
    default: ''
  },
  size: {
    type: String,
    default: 'medium'
  },
  bold: {
    type: Boolean,
    default: false
  },
  icon: {
    type: String,
    default: ''
  },
  transparent: {
    type: Boolean,
    default: false
  },
  blank: {
    type: Boolean,
    required: false,
    default: false
  },
  type: {
    type: String,
    required: false,
    default: 'text'
  }
})

const model = defineModel()
</script>

<template>
  <input
    class="v-input"
    :class="[size, bold ? 'font-semibold' : 'font-medium']"
    v-model="model"
    :type="type"
  />
</template>

<style>
.v-input {
  padding: 10px;
  border-radius: 5px;
}
</style>
