<script setup>
import { computed, ref } from 'vue'
import { sort, filter } from '@/utils'
import { useDefinitionStore } from '@/stores/definitionStore'

import { VueFinalModal } from 'vue-final-modal'
import VButton from '@/components/visual/VButton.vue'

const definitionStore = useDefinitionStore()
const model = defineModel()
const supplierFilter = ref({ tags: [] })
const supplier = computed(() => definitionStore.suppliers[model.value])
const suppliers = computed(() => {
  let suppliers = Object.values(definitionStore.suppliers)
  return sort(filter(suppliers, supplierFilter.value))
})
const showModal = ref(false)

function set(uuid) {
  model.value = uuid
  showModal.value = false
}

function clear() {
  model.value = null
  showModal.value = false
}
</script>

<template>
  <div class="btn" @click="() => (showModal = true)">{{ supplier?.name || 'Select' }}</div>

  <vue-final-modal v-model="showModal">
    <template #default>
      <div class="modal-content">
        <div class="modal-header">
          <h3>{{ model?.name }}</h3>
        </div>
        <div class="modal-body">
          <div>
            <VButton @click="clear">Clear</VButton>
          </div>
          <input v-model="supplierFilter.name" />
          <table>
            <tbody>
              <tr v-for="supplier in suppliers" :key="supplier.uuid">
                <td @click="() => set(supplier.uuid)">{{ supplier.name }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </template>
  </vue-final-modal>
</template>
