<script setup>
import VInput from '@/components/visual/VInput.vue'

const model = defineModel()
</script>

<template>
  <div class="row">
    <div class="cell">Name</div>
    <VInput class="cell" v-model="model.name"></VInput>
  </div>
</template>
