<script setup>
import { ref } from 'vue'
import { VueFinalModal } from 'vue-final-modal'
import { useDefinitionStore } from '@/stores/definitionStore'

import VButton from '@/components/visual/VButton.vue'
import SupplierEdit from '@/components/supplier/SupplierEdit.vue'
import ModalInlineButtons from '@/components/visual/ModalInlineButtons.vue'

const definitionStore = useDefinitionStore()
const model = defineModel()
const showModal = ref(false)

function toggle() {
  showModal.value = !showModal.value
}

function reset() {
  definitionStore.reset()
  showModal.value = false
}

function save() {
  definitionStore.set()
  showModal.value = false
}

function remove() {
  definitionStore.supplierRemove(model.value.uuid)
  definitionStore.set()
  showModal.value = false
}
</script>

<template>
  <slot :open="toggle">
    <VButton @click="showModal = true">{{ model.name }}</VButton>
  </slot>
  <vue-final-modal v-model="showModal">
    <template #default>
      <div class="modal-content">
        <div class="modal-header">
          <h3>{{ model?.name }}</h3>
        </div>
        <div class="modal-body">
          <SupplierEdit v-model="model" />
        </div>

        <div class="modal-footer">
          <ModalInlineButtons :reset="reset" :save="save" :remove="remove" />
        </div>
      </div>
    </template>
  </vue-final-modal>
</template>
