<script setup>
import { onMounted, ref } from 'vue'
import { RouterLink, RouterView } from 'vue-router'
import { useMainStore } from '@/stores/mainStore'
import LockScreen from '@/components/LockScreen.vue'
import LoginScreen from '@/components/LoginScreen.vue'

const mainStore = useMainStore()
const disconnected = ref(false)

onMounted(() => {
  setInterval(() => {
    const now = new Date()
    const diff = (now - mainStore.lastUpdate)
    console.log("Last diff: ", now, mainStore.lastUpdate, diff)
    disconnected.value = diff > 1000 * 60 * 5
  }, 1000)
})

</script>

<template id="app">

  <head>
    <nav class="no-print">
      <div class="left" v-if="mainStore.isLogged">
        <RouterLink to="/">Stoly</RouterLink>
        <RouterLink to="/invoices/">Faktury</RouterLink>
        <RouterLink to="/sources/">Zdroje</RouterLink>
        <RouterLink to="/report/">Report</RouterLink>
        <RouterLink to="/definition" v-if="mainStore.isAdmin">Definition</RouterLink>
        <RouterLink to="/config" v-if="mainStore.isAdmin">Config</RouterLink>
        <RouterLink to="/auth" v-if="mainStore.isAdmin">Auth</RouterLink>
      </div>

      <div class="right" v-if="mainStore.isLogged" :class="{disconnected}">
        <span>{{ mainStore.userInfo?.name }}</span>

        <a v-on:click="mainStore.lock()" v-if="!mainStore.isLocked" href="#">Lock</a>
        <a v-on:click="mainStore.logout()" v-if="mainStore.isLogged" href="#">Logout</a>
      </div>
    </nav>
  </head>

  <main>
    <LoginScreen v-if="!mainStore.isLogged" />
    <LockScreen v-if="mainStore.isLocked" />
    <RouterView v-if="mainStore.isLogged" />
  </main>
</template>

<style scoped>
.disconnected {
  background-color: red;
}
.left:first-child {
  margin-left: 55px;
}

.left a {
  margin-top: 20px;
  display: inline-block;
  min-width: 65px;
  height: 65px;
  line-height: 45px;
  text-align: center;
  border: 1px dotted #ccc;
}
</style>