<script setup>
import { ref } from 'vue'
import { useMainStore } from '@/stores/mainStore'
import { VueFinalModal } from 'vue-final-modal'
import { useSourceStore } from '@/stores/sourceStore'
import SourceEdit from '@/components/source/SourceEdit.vue'
import SourceItemEdit from '@/components/source/SourceItemEdit.vue'
import ModalInlineButtons from '@/components/visual/ModalInlineButtons.vue'
import VButton from '@/components/visual/VButton.vue'

const sourceStore = useSourceStore()

const model = defineModel()
const mainStore = useMainStore()

const showModal = ref(false)

function toggle() {
    showModal.value = !showModal.value
}

function reset() {
    sourceStore.reset()
    showModal.value = false
}

function save() {
    sourceStore.sync(model.value)
    showModal.value = false
}

function remove() {
    console.log('remove')
}
</script>

<template>
    <slot :open="toggle">
        <VButton @click="showModal = true">Edit</VButton>
    </slot>

    <vue-final-modal v-model="showModal">
        <template #default>
            <div class="modal-content">
                <div class="modal-header">
                    <h3>{{ model?.number }}</h3>
                </div>
                <SourceEdit class="modal-body" v-model="model"></SourceEdit>

                <div class="modal-footer">
                    <ModalInlineButtons :reset="reset" :save="save" :remove="remove" />
                </div>
            </div>
        </template>
    </vue-final-modal>
</template>
