<script setup>
import VInput from '@/components/visual/VInput.vue'
import ThingSelect from '@/components/thing/ThingSelect.vue'
import { useDefinitionStore } from '@/stores/definitionStore'

const definitionStore = useDefinitionStore()

const model = defineModel()
</script>
<template>
    <table>
        <tr>
            <th>Name</th>
            <td>
                <VInput v-model="model.name"></VInput>
            </td>
        </tr>
        <tr>
            <th>Thing</th>
            <td>
                <ThingSelect v-model="model.thingUuid" @update:modelValue="() => {
                    model.name = definitionStore.thingName(model.thingUuid)
                }
                    ">
                </ThingSelect>
            </td>
        </tr>
        <tr>
            <th>Quantity</th>
            <td>
                <VInput v-model.number="model.quantity"></VInput> Ks
            </td>
        </tr>
        <tr>
            <th>Price</th>
            <td>
                <VInput v-model.number="model.price"></VInput> CZK
            </td>
        </tr>
    </table>
</template>
