<script setup>
import { ref } from 'vue'
import { useMainStore } from '@/stores/mainStore'
import { VueFinalModal } from 'vue-final-modal'
import { useSourceStore } from '@/stores/sourceStore'

import SourceItemEdit from '@/components/source/SourceItemEdit.vue'
import ModalInlineButtons from '@/components/visual/ModalInlineButtons.vue'
import VButton from '@/components/visual/VButton.vue'

const sourceStore = useSourceStore()
const props = defineProps(['source'])
const model = defineModel()
const mainStore = useMainStore()

const showModal = ref(false)

function toggle() {
    showModal.value = !showModal.value
}

function reset() {
    sourceStore.reset()
    showModal.value = false
}

function save() {
    sourceStore.sync(props.source)
    showModal.value = false
}

function remove() {
    console.log('remove')
    const index = props.source?.items.indexOf(model.value)
    if (index > -1) {
        // only splice array when item is found
        props.source?.items?.splice(index, 1) // 2nd parameter means remove one item only
    }
    sourceStore.sync(props.source)
}
</script>

<template>
    <slot :open="toggle">
        <VButton @click="showModal = true">{{ model.name }}</VButton>
    </slot>

    <vue-final-modal v-model="showModal">
        <template #default>
            <div class="modal-content">
                <div class="modal-header">
                    <h3>{{ model?.name }}</h3>
                </div>
                <SourceItemEdit class="modal-body" v-model="model"> </SourceItemEdit>

                <div class="modal-footer">
                    <ModalInlineButtons :reset="reset" :save="save" :remove="remove" />
                </div>
            </div>
        </template>
    </vue-final-modal>
</template>
