<script setup>
import { ref } from 'vue'
import VInput from '@/components/visual/VInput.vue'
import UserSelect from '@/components/user/UserSelect.vue'
import SupplierSelect from '@/components/supplier/SupplierSelect.vue'
import SourceKindSelect from '../visual/SourceKindSelect.vue'
const model = defineModel()

</script>

<template>
    <table>
        <tr>
            <th>Kind</th>
            <td>
                <SourceKindSelect v-model="model.kind"></SourceKindSelect>
            </td>
        </tr>
        <tr>
            <th>Number</th>
            <td>
                <VInput v-model="model.number"></VInput>
            </td>
        </tr>
        <tr>
            <th>Date</th>
            <td>
                <VueDatePicker v-model="model.date" />
            </td>
        </tr>
        <tr>
            <th>User</th>
            <td>
                <UserSelect v-model="model.userUuid"></UserSelect>
            </td>
        </tr>
        <tr>
            <th>Supplier</th>
            <td>
                <SupplierSelect v-model="model.supplierUuid"></SupplierSelect>
            </td>
        </tr>
        <tr>
            <th>Note</th>
            <td><textarea v-model="model.note"></textarea></td>
        </tr>
    </table>
</template>
