<script setup>
import { computed, ref } from 'vue'
import { sort, filter } from '@/utils'
import { useSourceStore } from '@/stores/sourceStore'

import { VueFinalModal } from 'vue-final-modal'
import VButton from '@/components/visual/VButton.vue'
import Filter from '@/components/visual/Filter.vue'

const sourceStore = useSourceStore()
const model = defineModel()
const sourceFilter = ref({ tags: [] })
const source = computed(() => sourceStore.sources[model.value])
const sources = computed(() => {
  let sources = Object.values(sourceStore.sources)
  return sort(filter(sources, sourceFilter.value))
})
const showModal = ref(false)

function set(uuid) {
  model.value = uuid
  showModal.value = false
}

function clear() {
  model.value = null
  showModal.value = false
}
</script>

<template>
  <div class="btn" @click="() => (showModal = true)">{{ source?.name || 'Select' }}</div>

  <vue-final-modal v-model="showModal">
    <template #default>
      <div class="modal-content">
        <div class="modal-header">
          <h3>{{ model?.name }}</h3>
        </div>
        <div class="modal-body">
          <div>
            <VButton @click="clear">Clear</VButton>
          </div>
          <Filter v-model="sourceFilter" />
          <table>
            <tbody>
              <tr v-for="source in sources" :key="source.uuid">
                <td @click="() => set(source.uuid)">{{ source.name }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </template>
  </vue-final-modal>
</template>
