<script setup>
import { useAuthStore } from '@/stores/authStore'
import { formatDate } from '@/utils'

const authStore = useAuthStore()
</script>
<template>
  <h2>Users</h2>
  <table>
    <thead>
      <tr>
        <th>Nick</th>
        <th>Name</th>
        <th>Admin</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="user in authStore.users" :key="user.uuid" :value="user">
        <td>{{ user.nick }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.isAdmin }}</td>
      </tr>
    </tbody>
  </table>
  <h2>Tokens</h2>
  <table>
    <thead>
      <tr>
        <th>Token</th>
        <th>User</th>
        <th>Locked</th>
        <th>Expiration</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="token in authStore.tokens" :key="token.uuid" :value="token">
        <td>... {{ token.value.substring(token.value.length - 4) }}</td>
        <td>{{ authStore.getName(token.userUuid) }}</td>
        <td>{{ token.locked }}</td>
        <td>{{ formatDate(token.expiration, 'short', 'short') }}</td>
      </tr>
    </tbody>
  </table>
  <h2>Devices</h2>
  <table>
    <thead>
      <tr>
        <th>Uuid</th>
        <th>Name</th>
        <th>Type</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="device in authStore.devices" :key="device.uuid" :value="device">
        <td>{{ device.uuid }}</td>
        <td>{{ device.name }}</td>
        <td>{{ device.kind }}</td>
      </tr>
    </tbody>
  </table>
</template>
