<script setup>
import { computed } from 'vue';
import { useConfigStore } from '@/stores/configStore'
import { parseTime } from '@/utils';

const configStore = useConfigStore()
const hourOpen = computed({
  get() {
    return parseTime(configStore.data.setting.hourOpen)
  },
  set(newValue) {
    configStore.data.setting.hourOpen = `${newValue.hours}:${newValue.minutes}`
  }
})
const hourClose = computed({
  get() {
    return parseTime(configStore.data.setting.hourClose)
  },
  set(newValue) {
    configStore.data.setting.hourClose = `${newValue.hours}:${newValue.minutes}`
  }
})

</script>
<template>
  <h3>Info</h3>
  <h4>Operator</h4>
  <table>
    <tr>
      <th>Name</th>
      <td><input v-model="configStore.data.info.operator.name" /></td>
    </tr>
    <tr>
      <th>Address</th>
      <td><input v-model="configStore.data.info.operator.address" /></td>
    </tr>
    <tr>
      <th>City</th>
      <td><input v-model="configStore.data.info.operator.city" /></td>
    </tr>
    <tr>
      <th>Zip</th>
      <td><input v-model="configStore.data.info.operator.zip" /></td>
    </tr>
  </table>

  <h4>Store</h4>
  <table>
    <tr>
      <th>Name</th>
      <td><input v-model="configStore.data.info.store.name" /></td>
    </tr>
    <tr>
      <th>Address</th>
      <td><input v-model="configStore.data.info.store.address" /></td>
    </tr>
    <tr>
      <th>City</th>
      <td><input v-model="configStore.data.info.store.city" /></td>
    </tr>
    <tr>
      <th>Zip</th>
      <td><input v-model="configStore.data.info.store.zip" /></td>
    </tr>
  </table>

  <h3>Setting</h3>
  <table>
    <tr>
      <th>Printer bill</th>
      <td><input v-model="configStore.data.setting.printerBill" /></td>
    </tr>
    <tr>
      <th>Printer kitchen</th>
      <td><input v-model="configStore.data.setting.printerKitchen" /></td>
    </tr>
    <tr>
      <th>Autolock</th>
      <td><input v-model.number="configStore.data.setting.autoLock" /></td>
    </tr>
    <tr>
      <th>Retention days</th>
      <td><input v-model.number="configStore.data.setting.retentionDays" /></td>
    </tr>
    <tr>
      <th>Hour open</th>
      <td>
        <VueDatePicker v-model="hourOpen" time-picker /></td>
    </tr>
    <tr>
      <th>Hour close</th>
      <td>
        <VueDatePicker v-model="hourClose" time-picker /></td>
    </tr>
  </table>

  <h3>Base</h3>
  <table>
    <tr>
      <th>ConfigPath</th>
      <td><input v-model="configStore.data.base.configPath" /></td>
    </tr>
    <tr>
      <th>DataPath</th>
      <td><input v-model="configStore.data.base.dataPath" /></td>
    </tr>
    <tr>
      <th>FrontendPath</th>
      <td><input v-model="configStore.data.base.frontendPath" /></td>
    </tr>
    <tr>
      <th>Salt</th>
      <td><input v-model="configStore.data.base.salt" /></td>
    </tr>
    <tr>
      <th>QuerySize</th>
      <td><input v-model="configStore.data.base.querySize" /></td>
    </tr>
    <tr>
      <th>Http</th>
      <td><input v-model="configStore.data.base.portHttp" /></td>
    </tr>
    <tr>
      <th>Device</th>
      <td><input v-model="configStore.data.base.portTcp" /></td>
    </tr>
  </table>

  <button @click="configStore.set()">Save</button>
</template>
