<script setup>
import { ref, computed } from 'vue'
import { unitToString, ZERO_UUID } from '@/definitions'
import { sort, filter } from '@/utils'

import { useDefinitionStore } from '@/stores/definitionStore'
import { useTableStore } from '@/stores/tableStore'

import VButton from '@/components/visual/VButton.vue'
import VInput from '@/components/visual/VInput.vue'
import Filter from '@/components/visual/Filter.vue'
import Collapse from '@/components/visual/Collapse.vue'
import MetaInline from '@/components/meta/MetaInline.vue'
import ProductInline from '@/components/product/ProductInline.vue'
import ThingInline from '@/components/thing/ThingInline.vue'
import TagInline from '@/components/tag/TagInline.vue'
import RoomInline from '@/components/room/RoomInline.vue'
import TableInline from '@/components/table/TableInline.vue'
import SuplierInline from '@/components/supplier/SupplierInline.vue'

const definitionStore = useDefinitionStore()
const tableStore = useTableStore()

const globalFilter = ref({ tags: [], hide: false })
const products = computed(() => {
  let products = filter(Object.values(definitionStore.products), globalFilter.value)
  return sort(products, 'name')
})
const productName = ref('')
function productAdd() {
  definitionStore.productCreate(productName.value)
  productName.value = ''
}

const metas = computed(() => {
  let metas = filter(Object.values(definitionStore.metas), globalFilter.value)
  return sort(metas, 'name')
})
const metaName = ref('')
function metaAdd() {
  definitionStore.metaCreate(metaName.value)
  metaName.value = ''
}

const things = computed(() => {
  let things = filter(Object.values(definitionStore.things), globalFilter.value)
  return sort(things, 'name')
})
const thingName = ref('')
function thingAdd() {
  definitionStore.thingCreate(thingName.value)
  thingName.value = ''
}

const tags = computed(() => sort(Object.values(definitionStore.tags), 'order'))
const tagName = ref('')
function tagAdd() {
  definitionStore.tagCreate(tagName.value)
  tagName.value = ''
}

const suppliers = computed(() => sort(Object.values(definitionStore.suppliers), 'name'))
const supplierName = ref('')
function supplierAdd() {
  definitionStore.supplierCreate(supplierName)
  supplierName.value = ''
}

const rooms = computed(() => sort(Object.values(definitionStore.rooms), 'order'))
const roomName = ref('')
function roomAdd() {
  definitionStore.roomCreate(roomName.value)
  roomName.value = ''
}

const tableName = ref('')
function tableAdd() {
  tableStore.tableCreate(tableName.value, rooms.value[0]?.uuid)
  tableName.value = ''
}
</script>

<template>
  <div id="definition-page">
    <h1>Definition</h1>
    <div>
      <Filter v-model="globalFilter" />
      <Collapse title="Meta">
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Unit</th>
              <th>Tags</th>
            </tr>
          </thead>
          <tbody>
            <MetaInline
              v-for="meta in metas"
              :key="meta.uuid"
              v-model="definitionStore.metas[meta.uuid]"
              v-slot="slotProps"
            >
              <tr @click="slotProps.open">
                <td>{{ meta.name }}</td>
                <td>{{ meta.unit }}</td>
                <td>{{ definitionStore.tagListName(meta.tags) }}</td>
              </tr>
            </MetaInline>
          </tbody>
        </table>

        <div>
          <VInput v-model="metaName"></VInput>
          <VButton @click="metaAdd()">Add</VButton>
        </div>
      </Collapse>
    </div>
    <div>
      <Collapse title="Products">
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Unit</th>
            <th>Amount</th>
            <th>Meta</th>
            <th>Tags</th>
          </tr>
        </thead>
        <tbody>
          <ProductInline
            v-for="product in products"
            :key="product.uuid"
            v-model="definitionStore.products[product.uuid]"
            v-slot="slotProps"
          >
            <tr @click="slotProps.open">
              <td>{{ product.name }}</td>
              <td class="right">{{ product.price }} CZK</td>
              <td>{{ definitionStore.productUnit(product.uuid) }}</td>
              <td class="right">
                {{ unitToString(product.amount, definitionStore.productUnit(product.uuid)) }}
              </td>
              <td>{{ definitionStore.metaName(product.metaUuid) }}</td>
              <td>{{ definitionStore.tagListName(product.tags) }}</td>
            </tr>
          </ProductInline>
        </tbody>
      </table>
      <div>
        <VInput v-model="productName"></VInput>
        <VButton @click="productAdd()">Add</VButton>
      </div>
    </Collapse>
    </div>


    <div>
      <Collapse title="Things">
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Unit</th>
              <th>Amount</th>
              <th>Meta</th>
            </tr>
          </thead>
          <tbody>
            <ThingInline
              v-for="thing in things"
              :key="thing.uuid"
              v-model="definitionStore.things[thing.uuid]"
              v-slot="slotProps"
            >
              <tr @click="slotProps.open">
                <td>{{ thing.name }}</td>
                <td>{{ definitionStore.thingUnit(thing.uuid) }}</td>
                <td class="right">
                  {{ unitToString(thing.capacity, definitionStore.thingUnit(thing.uuid)) }}
                </td>
                <td>{{ definitionStore.metaName(thing.metaUuid) }}</td>
              </tr>
            </ThingInline>
          </tbody>
        </table>
        <div>
          <VInput v-model="thingName"></VInput>
          <VButton @click="thingAdd()">Add</VButton>
        </div>
      </Collapse>
    </div>

    <div>
    <Collapse title="Tags">
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Order</th>
          </tr>
        </thead>
        <tbody>
          <TagInline
            v-for="tag in tags"
            :key="tag.uuid"
            v-model="definitionStore.tags[tag.uuid]"
            v-slot="slotProps"
          >
            <tr @click="slotProps.open">
              <td>{{ tag.name }}</td>
              <td>{{ tag.order }}</td>
            </tr>
          </TagInline>
        </tbody>
      </table>
      <div>
        <VInput v-model="tagName"></VInput>
        <VButton @click="tagAdd()">Add</VButton>
      </div>
      </Collapse>
    </div>

    <div>
    <Collapse title="Suppliers">
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Other</th>
          </tr>
        </thead>
        <tbody>
          <SuplierInline
            v-for="supplier in suppliers"
            :key="supplier.uuid"
            v-model="definitionStore.suppliers[supplier.uuid]"
            v-slot="slotProps"
          >
            <tr @click="slotProps.open">
              <td>{{ supplier.name }}</td>
              <td>{{ supplier.other }}</td>
            </tr>
          </SuplierInline>
        </tbody>
      </table>
      <div>
        <VInput v-model="supplierName"></VInput>
        <VButton @click="supplierAdd()">Add</VButton>
      </div>
      </Collapse>
    </div>

    <div>
      <Collapse title="Rooms">
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Order</th>
          </tr>
        </thead>
        <tbody>
          <RoomInline
            v-for="room in rooms"
            :key="room.uuid"
            v-model="definitionStore.rooms[room.uuid]"
            v-slot="slotProps"
          >
            <tr @click="slotProps.open">
              <td>{{ room.name }}</td>
              <td>{{ room.order }}</td>
            </tr>
          </RoomInline>
        </tbody>
      </table>
      <div>
        <VInput v-model="roomName"></VInput>
        <VButton @click="roomAdd()">Add</VButton>
      </div>
    </Collapse>
    </div>

    <div>
      <Collapse title="Tables">
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Room</th>
            <th>Order</th>
          </tr>
        </thead>
        <tbody v-for="room in rooms" :key="room.uuid">
          <TableInline
            v-for="table in tableStore.tables.filter((t) => t.roomUuid == room.uuid)"
            :key="table.uuid"
            v-model="tableStore.data[table.uuid]"
            v-slot="slotProps"
          >
            <tr @click="slotProps.open">
              <td>{{ table.name }}</td>
              <td>{{ definitionStore.roomName(table.roomUuid) }}</td>
              <td>{{ table.order }}</td>
            </tr>
          </TableInline>
        </tbody>
        <tbody>
          <TableInline
            v-for="table in tableStore.tables.filter((t) => t.roomUuid == ZERO_UUID)"
            :key="table.uuid"
            v-model="tableStore.data[table.uuid]"
            v-slot="slotProps"
          >
            <tr @click="slotProps.open">
              <td>{{ table.name }}</td>
              <td>{{ definitionStore.roomName(table.roomUuid) }}</td>
              <td>{{ table.order }}</td>
            </tr>
          </TableInline>
        </tbody>
      </table>
      <div>
        <VInput v-model="tableName"></VInput>
        <VButton @click="tableAdd()">Add</VButton>
      </div>
    </Collapse>
    </div>
  </div>
</template>

<style>
#definition-page * {
  user-select: text;
}

main #definition-page > div {
  padding: 0 20px;
  margin: auto;
}

table tbody tr {
  cursor: pointer;
}
</style>
