<script setup>
import { formatDate, formatPrice } from '@/utils'
import { useInvoiceStore, sumItems } from '@/stores/invoiceStore'
import { useAuthStore } from '@/stores/authStore'
import { useTableStore } from '@/stores/tableStore'

const authStore = useAuthStore()
const tableStore = useTableStore()
const invoiceStore = useInvoiceStore()
</script>
<template>
  <div class="container">
    <table>
      <thead>
        <tr>
          <th>Date</th>
          <th>Room</th>
          <th>Table</th>
          <th>Payment</th>
          <th>Sequence</th>
          <th>Sum</th>
          <th>Paid</th>
          <th>Paid date</th>
          <th>User</th>
        </tr>
      </thead>
      <tbody>
        <tr
          v-for="invoice in invoiceStore.invoices"
          :key="invoice.uuid"
          @click="() => $router.push(`/invoice/${invoice.uuid}`)"
        >
          <td>{{ formatDate(invoice.date, 'short', 'short') }}</td>
          <td>{{ tableStore.tableRoomName(invoice.tableUuid) }}</td>
          <td>{{ tableStore.tableName(invoice.tableUuid) }}</td>
          <td>{{ invoice.payment }}</td>
          <td>{{ invoice.sequence }}</td>
          <td>{{ formatPrice(sumItems(invoice)) }}</td>
          <td>{{ formatPrice(invoice.paidAmount) }}</td>
          <td>{{ formatDate(invoice.paidDate, 'short', 'short') }}</td>
          <td>{{ authStore.getName(invoice.userUuid) }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</template>
<style scoped>
.container {
  background: var(--vt-c-white-mute);
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}

tr {
  cursor: pointer;
}
</style>
