<script setup>
import { computed, ref } from 'vue'
import { useRoute } from 'vue-router'
import { useMainStore } from '@/stores/mainStore'
import { useDefinitionStore } from '@/stores/definitionStore'
import { useTableStore } from '@/stores/tableStore'
import { useInvoiceStore, sumItems } from '@/stores/invoiceStore'
import { useAuthStore } from '@/stores/authStore'
import VInput from '@/components/visual/VInput.vue'
import VButton from '@/components/visual/VButton.vue'
import InvoiceInlineModal from '@/components/invoice/InvoiceInlineModal.vue'
import InvoiceItemInlineModal from '@/components/invoice/InvoiceItemInlineModal.vue'
import ProductSelect from '@/components/product/ProductSelect.vue'

import PayModal from '@/components/invoice/PayModal.vue'
import { formatDate } from '@/utils'

const mainStore = useMainStore()
const authStore = useAuthStore()
const tableStore = useTableStore()
const invoiceStore = useInvoiceStore()
const definitionStore = useDefinitionStore()

const route = useRoute()
const uuid = route.params.uuid

const invoice = computed(() => invoiceStore.data[uuid])
const sum = computed(
  () => sumItems(invoice)
)

const newItem = ref({})

function add() {
  if (!invoice.value.items) {
    invoice.value.items = []
  }

  invoice.value.items.push(newItem.value)
  newItem.value = {}
  invoiceStore.sync(invoice.value)
}

function print() {
  invoiceStore.print(invoice.value.uuid)
}
</script>

<template>
  <div class="container">
    <h2>Invoice {{ invoice?.sequence }}</h2>
    <table>
      <tr v-if="invoice?.sequence">
        <th>Sequence</th>
        <td>{{ invoice?.sequence }}</td>
      </tr>
      <tr>
        <th>User</th>
        <td>
          {{ authStore.getName(invoice?.userUuid) }}
        </td>
      </tr>
      <tr>
        <th>Canceled</th>
        <td>{{ invoice?.isCanceled }}</td>
      </tr>
      <tr>
        <th>Locked</th>
        <td>{{ invoice?.isLocked }}</td>
      </tr>
      <tr v-if="invoice?.tableUuid">
        <th>Table</th>
        <td>{{ tableStore.tableName(invoice?.tableUuid) }}</td>
      </tr>
      <tr v-if="invoice?.tableUuid">
        <th>Room</th>
        <td>{{ tableStore.tableRoomName(invoice?.tableUuid) }}</td>
      </tr>
      <tr v-if="invoice?.date">
        <th>Created</th>
        <td>
          {{ formatDate(invoice.date, 'short', 'short') }}
        </td>
      </tr>
      <tr v-if="invoice?.payment">
        <th>Payment</th>
        <td>{{ invoice?.payment }}</td>
      </tr>
      <tr>
        <th>Sum</th>
        <td>{{ sum }} CZK</td>
      </tr>
      <tr v-if="invoice?.paidAmount">
        <th>Paid amount</th>
        <td>{{ invoice?.paidAmount }} CZK</td>
      </tr>
      <tr v-if="invoice?.paidDate">
        <th>Paid date</th>
        <td>{{ formatDate(invoice?.paidDate, 'short', 'short') }}</td>
      </tr>
      <tr>
        <th>Printed</th>
        <td>{{ formatDate(invoice?.printed, 'short', 'short') }}</td>
      </tr>

      <tr>
        <th>Note</th>
        <td>{{ invoice?.note }}</td>
      </tr>
    </table>

    <InvoiceInlineModal v-if="mainStore.isAdmin" v-model="invoice"></InvoiceInlineModal>
    <VButton @click="print">Print</VButton>
    <PayModal v-model="invoice" v-if="!invoice?.paidDate" />
  </div>

  <div class="container">
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Product</th>
          <th>Quantity</th>
          <th>Price</th>
          <th>Sum</th>
        </tr>
      </thead>
      <tbody>
        <InvoiceItemInlineModal v-for="(item, key) in invoice?.items" :key="key" v-model="invoice.items[key]"
          v-slot="slotProps" :invoice="invoice">
          <tr @click="slotProps.open">
            <td>{{ item.name }}</td>
            <td>{{ definitionStore.productName(item.productUuid) }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.price }} CZK</td>
            <td>{{ item.quantity * item.price }} CZK</td>
          </tr>
        </InvoiceItemInlineModal>
        <tr v-if="mainStore.isAdmin">
          <td>
            <VInput v-model="newItem.name" />
          </td>
          <td>
            <ProductSelect v-model="newItem.productUuid" @update:modelValue="() => {
                newItem.name = definitionStore.productName(newItem.productUuid)
                newItem.price = definitionStore.productPrice(newItem.productUuid)
              }">
            </ProductSelect>
          </td>
          <td>
            <VInput v-model.number="newItem.quantity"></VInput>
          </td>
          <td>
            <VInput v-model.number="newItem.price"></VInput>
          </td>
          <td>
            <VButton @click="add()">Add</VButton>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<style scoped>
.container {
  background: var(--vt-c-white-mute);
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}

table {
  width: 100%;
  text-align: left;
}
</style>
