<script setup>
import { ref, onMounted } from 'vue'
import { useMainStore } from '@/stores/mainStore'
import { useDefinitionStore } from '@/stores/definitionStore'
import { useAuthStore } from '@/stores/authStore'
import { useConfigStore } from '@/stores/configStore'
import { unitToString } from '@/definitions'
import { openDate, closeDate } from '@/utils'

import VButton from '@/components/visual/VButton.vue'

const mainStore = useMainStore()
const definitionStore = useDefinitionStore()
const authStore = useAuthStore()
const configStore = useConfigStore()

const date = ref()
const report = ref(null)

async function fetchReport() {
  const schema = window.location.protocol
  const hostname = window.location.host
  const url = `${schema}//${hostname}/api/report/full`
  const data = { dateFrom: date.value[0], dateTo: date.value[1] }

  const respose = await fetch(url, {
    method: 'POST',
    body: JSON.stringify(data),
    headers: {
      'Content-Type': 'application/json'
    }
  })
  report.value = await respose.json()
}

onMounted(() => {
  const now = new Date()
  date.value = [
    openDate(now, configStore.data?.setting?.hourOpen),
    closeDate(now, configStore.data?.setting?.hourClose)
  ]
  console.log(date.value)
  fetchReport()
})
</script>

<template>
  <h1>Report view</h1>
  <div class="row" v-if="mainStore.isAdmin">
    <VueDatePicker v-model="date" range />
    <VButton @click="fetchReport()" class="no-print btn">Fetch</VButton>
  </div>
  <div class="container" v-if="report">
    <h3>Platby</h3>
    <table>
      <thead>
        <tr>
          <th>Druh</th>
          <th>Uctenek</th>
          <th>Zaplaceno</th>
          <th>Rozdil</th>
          <th>Celkem</th>
        </tr>
      </thead>

      <tbody>
        <tr v-for="(item, payment) in report.invoicePayment" :key="payment" :value="item">
          <td>{{ payment }}</td>
          <td>{{ item.amount }}</td>
          <td>{{ item.paid }} CZK</td>
          <td>{{ item.paid - item.real }} CZK</td>
          <td>{{ item.real }} CZK</td>
        </tr>
      </tbody>
    </table>

    <h3>Obsluha</h3>
    <table>
      <thead>
        <tr>
          <th>Uzivatel</th>
          <th>Uctenek</th>
          <th>Zaplaceno</th>
          <th>Dyska</th>
          <th>Celkem</th>
        </tr>
      </thead>

      <tbody>
        <tr v-for="(item, user) in report.invoiceUser" :key="user" :value="item">
          <td>{{ authStore.getName(user) }}</td>
          <td>{{ item.amount }}</td>
          <td>{{ item.paid }} CZK</td>
          <td>{{ item.paid - item.real }} CZK</td>
          <td>{{ item.real }} CZK</td>
        </tr>
      </tbody>
    </table>

    <h3>Prodano</h3>
    <table>
      <thead>
        <tr>
          <th>Zbozi</th>
          <th>Mnozstvi</th>
          <th>Celkem</th>
        </tr>
      </thead>

      <tbody>
        <tr v-for="(item, meta) in report.invoiceMeta" :key="meta">
          <td>{{ definitionStore.metaName(meta) }}</td>
          <td>{{ unitToString(item.amount, definitionStore.metaUnit(meta)) }}</td>
          <td>{{ item.real }} CZK</td>
        </tr>
      </tbody>
    </table>

    <h3>Product</h3>
    <table>
      <thead>
        <tr>
          <th>Zbozi</th>
          <th>Mnozstvi</th>
          <th>Cena</th>
        </tr>
      </thead>

      <tbody>
        <tr v-for="(item, product) in report.invoiceProduct" :key="product">
          <td>{{ definitionStore.productName(product) }}</td>
          <td>{{ item.amount }}</td>
          <td>{{ item.real }} CZK</td>
        </tr>
      </tbody>
    </table>

    <div v-if="mainStore.isAdmin">
      <h3>Nakoupeno</h3>
      <table>
        <thead>
          <tr>
            <th>Zbozi</th>
            <th>Mnozstvi</th>
            <th>Celkem</th>
          </tr>
        </thead>

        <tbody>
          <tr v-for="(item, meta) in report.sourceMeta" :key="meta">
            <td>{{ definitionStore.metaName(meta) }}</td>
            <td>{{ unitToString(item.amount, definitionStore.metaUnit(meta)) }}</td>
            <td>{{ item.real }} CZK</td>
          </tr>
        </tbody>
      </table>

      <h3>Thing</h3>
      <table>
        <thead>
          <tr>
            <th>Zbozi</th>
            <th>Mnozstvi</th>
            <th>Cena</th>
          </tr>
        </thead>

        <tbody>
          <tr v-for="(item, product) in report.sourceThing" :key="product">
            <td>{{ definitionStore.thingName(product) }}</td>
            <td>{{ item.amount }}</td>
            <td>{{ item.real }} CZK</td>
          </tr>
        </tbody>
      </table>

      <h3>Zaplatil</h3>
      <table>
        <thead>
          <tr>
            <th>Uzivatel</th>
            <th>Uctenek</th>
            <th>Celkem</th>
          </tr>
        </thead>

        <tbody>
          <tr v-for="(item, user) in report.sourceUser" :key="user" :value="item">
            <td>{{ authStore.getName(user) }}</td>
            <td>{{ item.amount }}</td>
            <td>{{ item.real }} CZK</td>
          </tr>
        </tbody>
      </table>

      <h3>Dodavatel</h3>
      <table>
        <thead>
          <tr>
            <th>Dodavatel</th>
            <th>Polozek</th>
            <th>Celkem</th>
          </tr>
        </thead>

        <tbody>
          <tr v-for="(item, supplier) in report.sourceSupplier" :key="supplier">
            <td>{{ definitionStore.supplierName(supplier) }}</td>
            <td>{{ item.amount }}</td>
            <td>{{ item.real }} CZK</td>
          </tr>
        </tbody>
      </table>

      <h3>Zaplatil</h3>
      <table>
        <thead>
          <tr>
            <th>Uzivatel</th>
            <th>Uctenek</th>
            <th>Zaplaceno</th>
          </tr>
        </thead>

        <tbody>
          <tr v-for="(item, user) in report.sourceUser" :key="user" :value="item">
            <td>{{ authStore.getName(user) }}</td>
            <td>{{ item.amount }}</td>
            <td>{{ item.real }} CZK</td>
          </tr>
        </tbody>
      </table>
    </div>

    <h3>Total</h3>
    <table v-if="report" style="border: 5px solid var(--color-text)">
      <tr>
        <td class="left">Vydano uctenek</td>
        <td class="right">{{ report.invoiceTotal.amount }}</td>
      </tr>
      <tr>
        <td class="left">Zaplaceno</td>
        <td class="right">{{ report.invoiceTotal.paid }} CZK</td>
      </tr>
      <tr>
        <td class="left">Uctovano</td>
        <td class="right">{{ report.invoiceTotal.real }} CZK</td>
      </tr>
      <tr v-if="mainStore.userInfo?.isAdmin">
        <td class="left">Nakoupeno</td>
        <td class="right">{{ report.sourceTotal.real }} CZK</td>
      </tr>
      <tr v-if="mainStore.userInfo?.isAdmin">
        <td class="left">Profit</td>
        <td class="right">{{ report.total.real }} CZK</td>
      </tr>
      <tr>
        <td class="left">Dyska</td>
        <td class="right">{{ report.total.paid }} CZK</td>
      </tr>
    </table>
  </div>
</template>

<style scoped>
.container {
  padding: 20px;
  margin: 20px;
}
h3 {
  margin-top: 20px;
}
table {
  width: 80%;
}
table tr th {
  font-weight: bold;
  width: 20%;
}

table tbody tr td:first {
  text-align: left !important;
}
table tbody tr td {
  background-color: var(--color-background-mute);
  text-align: right;
  width: 20%;
}
table tr:nth-of-type(even) {
  background-color: var(--color-background-soft);
}
</style>
