<script setup>
import { computed, ref } from 'vue'
import { useRoute } from 'vue-router'
import { useMainStore } from '@/stores/mainStore'
import { useDefinitionStore } from '@/stores/definitionStore'
import { useAuthStore } from '@/stores/authStore'
import { useTableStore } from '@/stores/tableStore'
import { useSourceStore, sumItems } from '@/stores/sourceStore'
import VInput from '@/components/visual/VInput.vue'
import VButton from '@/components/visual/VButton.vue'
import SourceInlineModal from '@/components/source/SourceInlineModal.vue'
import SourceItemInlineModal from '@/components/source/SourceItemInlineModal.vue'
import ThingSelect from '@/components/thing/ThingSelect.vue'

import { formatDate, formatPrice } from '@/utils'

const mainStore = useMainStore()
const authStore = useAuthStore()
const sourceStore = useSourceStore()
const definitionStore = useDefinitionStore()

const route = useRoute()
const uuid = route.params.uuid

const source = computed(() => sourceStore.data[uuid])
const sum = computed(() => sumItems(source))

const newItem = ref({})

function add() {

  if (!source.value.items) {
    source.value.items = []
  }

  source.value.items.push(newItem.value)
  newItem.value = {}
  sourceStore.sync(source.value)
}
</script>

<template>
  <h2>Source {{ source?.number }}</h2>
  <div class="container">
    <table>
      <tr>
        <th>Kind</th>
        <td>{{ source?.kind }}</td>
      </tr>
      <tr v-if="source?.number">
        <th>Number</th>
        <td>{{ source?.number }}</td>
      </tr>
      <tr v-if="source?.date">
        <th>Date</th>
        <td>{{ formatDate(source.date, 'short', 'short') }}</td>
      </tr>
      <tr>
        <th>Sum</th>
        <td>{{ formatPrice(sum) }}</td>
      </tr>
      <tr v-if="source?.useruuid">
        <th>User</th>
        <td>{{ authStore.getName(source.userUuid) }}</td>
      </tr>
      <tr v-if="source?.supplierUuid">
        <th>Supplier</th>
        <td>{{ definitionStore.supplierName(source.supplierUuid) }}</td>
      </tr>
      <tr v-if="source?.note">
        <th>Note</th>
        <td>{{ source.note }}</td>
      </tr>
    </table>
    <SourceInlineModal v-model="source"></SourceInlineModal>
  </div>

  <table>
    <thead>
      <tr>
        <th>Nazev</th>
        <th>Thing</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Sum</th>
      </tr>
    </thead>
    <tbody>
      <SourceItemInlineModal v-for="(item, key) in source?.items" :key="key" v-model="source.items[key]"
        v-slot="slotProps" :source="source">
        <tr @click="slotProps.open">
          <td>{{ item.name }}</td>
          <td>{{ definitionStore.thingName(item.thingUuid) }}</td>
          <td class="right">{{ item.quantity }}</td>
          <td class="right">{{ formatPrice(item.price) }}</td>
          <td class="right">{{ formatPrice(Number(item.quantity) * Number(item.price)) }}</td>
        </tr>
      </SourceItemInlineModal>
      <tr>
        <td colspan="5">&nbsp;</td>
      </tr>
      <tr style="border-top: 5px solid black; margin-top: 20px">
        <td><input v-model="newItem.name" /></td>
        <td>
          <ThingSelect v-model="newItem.thingUuid" @update:modelValue="() => {
    newItem.name = definitionStore.thingName(newItem.thingUuid)
  }" />
        </td>
        <td><input v-model.number="newItem.quantity" type="number" /></td>
        <td><input v-model.number="newItem.price" type="number" /></td>
        <td><button @click="add">Add</button></td>
      </tr>
    </tbody>
  </table>
</template>

<style scoped>
.container {
  background: var(--vt-c-white-mute);
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}

table {
  width: 100%;
  text-align: left;
}
</style>
