<script setup>
import { useRouter } from 'vue-router'
import { formatDate, formatPrice } from '@/utils'

import { useAuthStore } from '@/stores/authStore'
import { useSourceStore, sumItems } from '@/stores/sourceStore'
import { useDefinitionStore } from '@/stores/definitionStore'

const router = useRouter()
const authStore = useAuthStore()
const definitionStore = useDefinitionStore()
const sourceStore = useSourceStore()

function create() {
  const source = sourceStore.create()
  router.push(`/source/${source.uuid}`)
}

function click(source) {
  router.push(`/source/${source.uuid}`)
}
</script>
<template>
  <div>
    <button @click="create">Vytvorit</button>
    <table>
      <thead>
        <tr>
          <th>Number</th>
          <th>Kind</th>
          <th>Datum</th>
          <th>User</th>
          <th>Supplier</th>
          <th>Sum</th>
        </tr>
      </thead>
      <tbody>
        <tr
          v-for="source in sourceStore.sources"
          :key="source.uuid"
          :value="source"
          @click="click(source)"
        >
          <td>{{ source.number }}</td>
          <td>{{ source.kind }}</td>
          <td>{{ formatDate(source.date, 'short', 'short') }}</td>
          <td>{{ authStore.getName(source.userUuid) }}</td>
          <td>{{ definitionStore.supplierName(source.supplierUuid) }}</td>
          <td>{{ formatPrice(sumItems(source)) }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<style scoped>
table tbody tr {
  cursor: pointer;
}
</style>
