<script setup>
import { computed } from 'vue'
import CreateTableModal from '@/components/table/CreateTableModal.vue'
import { useDefinitionStore } from '@/stores/definitionStore'
import { useTableStore } from '@/stores/tableStore'
import { useInvoiceStore } from '@/stores/invoiceStore'
import { sort, formatPrice } from '@/utils'

const definitionStore = useDefinitionStore()
const tableStore = useTableStore()
const invoiceStore = useInvoiceStore()

//const tables = computed(() => Object.values(tableStore.data.values))
const rooms = computed(() => sort(Object.values(definitionStore.rooms), 'order'))
const occupied = computed(() => {
  const result = {}
  for(let table of tableStore.tables) {
    const isOccupiedTable = (table?.items?.length > 0)

    if(table?.invoiceUuid && invoiceStore.data) {
      result[table.uuid] = isOccupiedTable || (invoiceStore.data[table?.invoiceUuid]?.items?.length > 0)
    } else {
      result[table.uuid] = isOccupiedTable
    }
  }
  return result
})

const unserved = computed(() => {
  const result = {}
  for(let table of tableStore.tables) {
    result[table.uuid] = new Date() - new Date(table.lastActivity)
  }
  return result
})

const sum = computed(() => {
  let result = 0
  for(let table of tableStore.tables) {
    for(let item of table.items) {
      result += item.quantity * definitionStore.productPrice(item.productUuid)
    }
  }
  return result
})

function roomFilter(tables, uuid) {
  if (tables !== null) return tables.filter((t) => t.roomUuid == uuid)
  else return []
}

function isFree(table) {
  return !occupied.value[table.uuid]
}

function isOccupied(table) {
  return occupied.value[table.uuid]
}

function isAttention(table) {
  return unserved.value[table.uuid] > 1000 * 60 * 15
}

</script>

<template>
  <div class="container">
    Celkem na stolech:
    <div class="sum">
      {{ formatPrice(sum) }}
    </div>
  </div>

  <div class="container" v-for="room in rooms" :key="room.uuid">
    <h2>{{ room.name }}</h2>
    <div class="tables">
      <div :class="{
          table: true,
          free: isFree(table),
          occupied: isOccupied(table) && !isAttention(table),
          attention: isOccupied(table) && isAttention(table)
        }"
        v-for="table in roomFilter(tableStore.tables, room.uuid)"
        :key="table.name"
        @click="$router.push({
          name: 'table',
          params: {
            uuid: table.uuid
          }
        })"
        >
        <div v-if="isOccupied(table)">
          {{ table.name }}
          <br />
          {{ Math.round(unserved[table.uuid] / 1000 / 60) }} min
        </div>
        <div v-if="!isOccupied(table)">{{ table.name }}</div>
      </div>

      <CreateTableModal class="table create" :room="room.uuid" />
    </div>
  </div>

  <div class="foot-container">
    <div class="create foot">Create</div>
    <div class="free foot">Free</div>
    <div class="occupied foot">Occupied</div>
    <div class="attention foot">Attention</div>
  </div>
</template>

<style scoped>
.foot-container {
  display: flex;
  flex-grow: inherit;
  flex-flow: row;
  flex-wrap: nowrap;
}

.foot {
  padding: 10px 30px;
  margin: 0 5px;
  width: 25%;
  font-weight: bolder;
}

div.sum {
  font-weight: bold;
}

.container {
  background: var(--vt-c-white-mute);
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}

.tables {
  display: flex;
  flex-wrap: wrap;
}

:deep(.table) {
  cursor: pointer;
  display: flex;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  margin: 10px;
  width: 7rem;
  height: 7rem;
  font-weight: bolder;
  text-align: center;
  vertical-align: middle;
}
</style>
