<script setup>
import { ref, computed, onBeforeUnmount } from 'vue'
import { useRoute } from 'vue-router'
import { useDefinitionStore } from '@/stores/definitionStore'
import { useTableStore } from '@/stores/tableStore'
import { useInvoiceStore } from '@/stores/invoiceStore'
import { useSyncStore } from '@/stores/syncStore'

import VButton from '@/components/visual/VButton.vue'
import TagSelect from '@/components/tag/TagSelect.vue'
import IconPlus from '@/components/icons/IconPlus.vue'
import IconMinus from '@/components/icons/IconMinus.vue'
import IconArrowLeft from '@/components/icons/IconArrowLeft.vue'
import IconArrowLeftMulti from '@/components/icons/IconArrowLeftMulti.vue'
import IconArrowRight from '@/components/icons/IconArrowRight.vue'
import IconArrowRightMulti from '@/components/icons/IconArrowRightMulti.vue'
import PayModal from '@/components/invoice/PayModal.vue'
import TableMoveModal from '@/components/table/TableMoveModal.vue'

import { sort, formatPrice } from '@/utils'
import { ZERO_UUID } from '@/definitions'

const definitionStore = useDefinitionStore()
const tableStore = useTableStore()
const invoiceStore = useInvoiceStore()
const syncStore = useSyncStore()

const route = useRoute()
const tags = ref([ZERO_UUID])

const diffTable = {}
const diffInvoice = {}
const tableUuid = route.params.uuid

const $ = computed(() => {
  const table = tableStore.data[tableUuid]
  if (table) {
    let products = sort(Object.values(definitionStore.products), 'name')
    if (tags.value.length > 0) {
      products = products.filter((p) => p.tags.filter((t) => tags.value.includes(t)).length > 0 && p.hide == false)
    }
    const invoice = invoiceStore?.data[table?.invoiceUuid]
    const tableSum =
      table?.items?.reduce(
        (acc, item) => acc + Number(item.quantity) * definitionStore.productPrice(item.productUuid),
        0
      ) || 0
    const invoiceSum =
      invoice?.items?.reduce((acc, item) => acc + Number(item.quantity) * Number(item.price), 0) ||
      0

    return {
      table,
      products,
      invoice,
      tableSum,
      invoiceSum
    }
  } else {
    return {}
  }
})

onBeforeUnmount(() => {
  const table = tableStore.data[tableUuid]
  const invoice = invoiceStore?.data[table?.invoiceUuid]

  tableStore.sync($.value.table)
  if (invoice) {
    invoiceStore.sync($.value.invoice)
  }
})

function tableItemAdd(uuid, productUuid) {
  syncStore.tableItemAdd(uuid, productUuid)
  if (!(productUuid in diffTable)) {
    diffTable[productUuid] = 1
  } else {
    diffTable[productUuid] = diffTable[productUuid] + 1
  }
}

function tableItemDel(uuid, productUuid) {
  syncStore.tableItemDel(uuid, productUuid)
  if (productUuid in diffTable) {
    diffTable[productUuid] = diffTable[productUuid] - 1
  } else {
    diffTable[productUuid] = -1
  }
}

function tableToInvoiceAll(uuid, productUuid) {
  syncStore.tableToInvoiceAll(uuid, productUuid)
}

function tableToInvoice(uuid) {
  syncStore.tableToInvoice(uuid)
}

function tableToInvoiceOne(uuid, productUuid) {
  syncStore.tableToInvoiceOne(uuid, productUuid)
}

function invoiceItemAdd(uuid, productUuid) {
  syncStore.invoiceItemAdd(uuid, productUuid)
  if (!(productUuid in diffInvoice)) {
    diffInvoice[productUuid] = 1
  } else {
    diffInvoice[productUuid] = diffInvoice[productUuid] + 1
  }
}

function invoiceItemDel(uuid, productUuid) {
  syncStore.invoiceItemDel(uuid, productUuid)
  if (productUuid in diffInvoice) {
    diffInvoice[productUuid] = diffInvoice[productUuid] - 1
  } else {
    diffInvoice[productUuid] = -1
  }
}

function invoiceToTableAll(uuid, productUuid) {
  syncStore.invoiceToTableAll(uuid, productUuid)
}

function invoiceToTableOne(uuid, productUuid) {
  syncStore.invoiceToTableOne(uuid, productUuid)
}

function tablePrint() {
  tableStore.sync($.value.table)
  tableStore.print($.value.table.uuid)
}
</script>

<template>
  <h2>Table: {{ $.table?.name }}</h2>
  <TagSelect v-model="tags" :single="true" />
  <div class="container">
    <div class="items">
      <h3>Na stole</h3>

      <div class="table-item" v-for="item in $.table?.items" :key="item.uuid">
        <IconMinus :size="1.5" @click="() => tableItemDel(route.params.uuid, item.productUuid)" />
        <div class="quantity">{{ item.quantity }}</div>
        <div :class="{
          quantity: true,
          red: diffTable[item.productUuid] < 0,
          green: diffTable[item.productUuid] > 0,
          hide: !(diffTable[item.productUuid] > 0 || diffTable[item.productUuid] < 0)
        }">
          {{ diffTable[item.productUuid] }}
        </div>
        <IconPlus @click="() => tableItemAdd(route.params.uuid, item.productUuid)" />

        <div class="product">{{ definitionStore.productName(item.productUuid) }}</div>

        <IconArrowRightMulti style="margin-left: auto"
          @click="() => tableToInvoiceAll(route.params.uuid, item.productUuid)" />
        <IconArrowRight @click="() => tableToInvoiceOne(route.params.uuid, item.productUuid)" />
      </div>

      <div class="price">{{ formatPrice($.tableSum) }}</div>
      <div class="button_row">
        <TableMoveModal v-slot="slotProps" :tableUuid="$?.table?.uuid">
          <VButton @click="slotProps.open">Presunout</VButton>
        </TableMoveModal>
        <VButton @click="() => tablePrint()">Vytisknout</VButton>

        <VButton @click="() => tableToInvoice(route.params.uuid)">Zaplatit vse</VButton>
      </div>
    </div>

    <div class="products">
      <h3>Zbozi</h3>

      <div class="table-item" v-for="product in $.products" :key="product.uuid">
        <IconArrowLeft @click="() => tableItemAdd(route.params.uuid, product.uuid)" />
        <div class="product">{{ product?.name }}</div>
        <div style="margin-left: auto" class="product">{{ formatPrice(product.price) }}</div>
        <IconArrowRight v-if="$.invoice" @click="() => invoiceItemAdd($.invoice?.uuid, product.uuid)" />
      </div>
    </div>

    <div class="invoice" v-if="$.invoice">
      <h3>Na ucte</h3>

      <div class="table-item" v-for="item in $.invoice?.items" :key="item.uuid">
        <IconArrowLeft @click="() => invoiceToTableOne($.invoice?.uuid, item.productUuid)" />
        <IconArrowLeftMulti @click="() => invoiceToTableAll($.invoice?.uuid, item.productUuid)" />

        <div class="product">{{ definitionStore.productName(item.productUuid) }}</div>
        <div style="margin-left: auto" class="product">{{ formatPrice(item.price) }}</div>
        <IconMinus @click="() => invoiceItemDel($.invoice?.uuid, item.productUuid)" />
        <div class="quantity">{{ item.quantity }}</div>
        <div :class="{
          quantity: true,
          red: diffInvoice[item.productUuid] < 0,
          green: diffInvoice[item.productUuid] > 0,
          hide: !(diffInvoice[item.productUuid] > 0 || diffInvoice[item.productUuid] < 0)
        }">
          {{ diffInvoice[item.productUuid] }}
        </div>
        <IconPlus @click="() => invoiceItemAdd($.invoice?.uuid, item.productUuid)" />
      </div>
      <div class="price">{{ formatPrice($.invoiceSum) }}</div>
      <div class="button_row">
        <PayModal v-model="$.invoice" />
        <VButton @click="$router.push(`/invoice/${$.invoice?.uuid}`)">Faktura</VButton>
      </div>
    </div>
  </div>
</template>

<style scoped>
.container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}

.container>div {
  background: var(--vt-c-white-mute);
  border-radius: 10px;
  margin: 1px;
}

.items {
  width: 33%;
  padding: 10px;
  border-right: var(--color-border) 4px solid;
  position: relative;
  padding-bottom: calc(5em + 10px);
}

.table-item {
  display: flex;
}

.table-item svg {
  cursor: pointer;
  display: block;
  width: 3.3em;
  height: 3.3em;
}

.table-item .quantity {
  width: 20px;
  font-weight: bolder;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
}

.products {
  width: 33%;
  padding: 10px;
  border-right: var(--color-text) 4px solid;
  border-left: var(--color-text) 4px solid;
}

.product {
  align-items: center;
  justify-content: center;
  display: flex;
}

/* .products::content {
  align-items: center;
  justify-content: center;
  display: flex;
} */

.invoice {
  width: 33%;
  padding: 10px;
  border-left: var(--color-border) 4px solid;
  position: relative;
  padding-bottom: calc(5em + 10px);
}

.price {
  font-size: larger;
  text-align: right;
}

.button_row {
  width: calc(100% - 14px);
  margin-bottom: 2px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  position: absolute;
  bottom: 5px;
}

.button_row * {
  height: 3em;
  margin-right: 5px;
  flex-grow: 1;
  font-size: 150%;
}

.button_row *:last-child {
  margin-right: 0;
}

.red {
  color: red;
}

.green {
  color: green;
}

.green:before {
  content: '+';
}

.hide {
  visibility: hidden;
}
</style>
